<fa-modifier fa-translate="scrollTranslate()">
  <fa-view>
    <fa-scroll-view fa-pipe-from="scrollHandler">
      <fa-sequential-layout>
        <fa-view ng-repeat="video in videos" fa-animate-enter="videoEnter(video, $done)" fa-index="$index">
          <fa-modifier fa-origin="[0, 0]" fa-scale="video.scale.get()" fa-size="videoSize()" fa-perspective="600">
            <fa-modifier fa-rotate="getRotate()">
              <fa-view fa-origin="[0.5, 0.5]">
                <fa-modifier fa-size="[undefined, undefined]">
                  <fa-surface class="video" fa-pipe-to="videoHandlers">
                    <iframe ng-src="{{ video.link }}" width="video.getWidth()" height="video.getHeight()" style="margin:0;" frameborder="0" allowfullscreen></iframe>
                    <h4>{{ video.title }}</h4>
                    <time am-time-ago="video.datetime"></time>
                  </fa-surface>
                </fa-modifier>
              </fa-view>
            </fa-modifier>
          </fa-modifier>
        </fa-view>
      </fa-sequential-layout>
    </fa-scroll-view>
  </fa-view>
  <fa-view>
    <fa-modifier fa-origin="[0, 0]" fa-align="[0, 0.8]" fa-size="[true, true]">
      <fa-surface class="back-to-gallery-button" fa-click="backToVideos()">
        <i class="glyphicon glyphicon-chevron-left"></i>
      </fa-surface>
    </fa-modifier>
  </fa-view>
</fa-modifier>